<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Manager</title>
    <link rel="stylesheet" href="../static/css/mainpage.css" th:href="@{/css/mainpage.css}">
</head>
<body>
<div>
    <div class="dropdown">
        <button class="dropbtn">Resources</button>
        <div class="dropdown-content">
            <a href="/main_page/teams">Teams</a>
            <a href="/workers">Workers</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>
</body>
</html>